*{
    padding: 0%;
    margin: 0%;
    transition: 0.3s;
}
:root{
    --cor_light-azul_claro : hsl(220, 98%, 61%);
    --cor_light-azul_mais_claro : hsl(192, 100%, 67%);
    --cor_light-lilas : hsl(280, 87%, 65%);
    --cor_light-VeryLightGray: hsl(0, 0%, 98%);
    --cor_light-Very_Light_Grayis_hBlue: hsl(236, 33%, 92%);
    --cor_light-Light_Grayish_Blue: hsl(233, 11%, 84%);
    --cor_light-Dark_Grayish_Blue: hsl(236, 9%, 61%);
    --cor_light-Very_Dark_Grayis_hBlue: hsl(235, 19%, 35%);

    --cor_dark-VeryDarkBlue: hsl(235, 21%, 11%);
    --cor_dark-VeryDarkDesaturated_Blue: hsl(235, 24%, 19%);
    --cor_dark-LightGrayishBlue: hsl(234, 39%, 85%);
    --cor_dark-LightGrayishBlue: hsl(236, 33%, 92%);
    --cor_dark-DarkGrayishBlue: hsl(234, 11%, 52%);
    --cor_dark-VeryDarkGrayish_Blue: hsl(233, 14%, 35%);
    --cor_dark-VeryDarkGrayish_Blue: hsl(237, 14%, 26%);
}
body{
    background-color: rgb(129, 129, 129);
}
.hide{
    display: none;
}